{% extends "layout.html" %}
                    {% block navitems %}
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                    {% endblock %}
                
                
                {% block main %}
                <section id="home">
                    <div class="bg-image"></div>
                    <div class="content">
                        <h1>404 Error!</h1>
                        <br />
                        <p>Hey! I didn't create that page.</p>
                    </div>
                </section>
                {% endblock %}