{% extends "layout.html" %}
                {% block main %}
                <section id="home">
                    <div class="bg-image"></div>
                    <div class="content">
                        <h1>Hello!</h1>
                        <br />
                        <p>Welcome to my website.</p>
                    </div>
                </section>
                <section id="about">
                    <h1>About Me</h1>
                    <br />
                    <p>
                        Hello! I'm S.M.A Nahian.
                        I am 15 years old. I am a high school student, currently in tenth-grade.
                    </p>
                    <br />
                    <p>
                        <a href="/about" style="color:#00a9e2">Click here</a> to learn more about me.
                    </p>
                </section>
                {% endblock %}